// @import-normalize; /* bring in normalize.css styles */
@import '~bootstrap/scss/bootstrap.scss';
// @import '~bootstrap/scss/bootstrap-grid.scss';
// @import '~bootstrap/scss/bootstrap-reboot.scss';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  line-height: 1.4;
}

p {
  margin: 0;
}
