// @import-normalize; /* bring in normalize.css styles */
@import '~bootstrap/scss/bootstrap.scss';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

p {
  margin: 0;
}
